<footer class="footer text-center text-white">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 mb-5 mb-lg-0">
                <h4 class="text-uppercase mb-4">Location</h4>
                <p class="mb-0">
                    2215 John Daniel Drive
                    <br> Clark, MO 65243
                </p>
            </div>
            <div class="col-lg-4 mb-5 mb-lg-0">
                <h4 class="text-uppercase mb-4">Around the Web</h4>
                <a class="btn btn-outline-light btn-social rounded-circle mx-1" href="#!"><span class="icon-font"><i class="fab fa-fw fa-facebook-f"></i></span></a>
                <a class="btn btn-outline-light btn-social rounded-circle mx-1" href="#!"> <span class="icon-font"><i class="fab fa-fw fa-twitter"></i></span></a>
                <a class="btn btn-outline-light btn-social rounded-circle mx-1" href="#!"><span class="icon-font"><i class="fab fa-fw fa-linkedin-in"></i></span></a>
                <a class="btn btn-outline-light btn-social rounded-circle mx-1" href="#!"><span class="icon-font"><i class="fab fa-fw fa-dribbble"></i></span></a>
            </div>
            <div class="col-lg-4">
                <h4 class="text-uppercase mb-4">About Freelancer</h4>
                <p class="mb-0">
                    Freelance is a free to use, MIT licensed Bootstrap theme created by .
                </p>
            </div>
        </div>
    </div>
</footer>
<div class="copyright py-4 text-center text-white">
    <div class="container"><small>Copyright © Your Website 2021</small></div>
</div>